
.colored {
    color:#DBB943;
}

.ArtistsMovementsList {
    float:right;
    margin-right: 10vw;
    margin-top: 10vh;
    border: black 2px solid;
    padding: 20px;
    
}

.ArtistsMovementsList p {
    font-size: 160%;
    font-weight: bolder;
    margin: 30px;
    color:rgb(66, 70, 85);
}

.ArtistsMovementsList ul a  {
    text-decoration: none;
}

.ArtistsMovementsList ul a li {
    white-space: pre;
    position:relative;
    border-bottom: solid 3px rgba(66, 70, 85, 0);
    margin: 17px;
    list-style: none;
    color:#DBB943;
    font-size: 160%;
    line-height: 120%}

.ArtistsMovementsList ul a li:hover {
    cursor: pointer;
    border-bottom: solid 3px rgb(190,29,47);
  }
.ArtistsMovementsList ul a li:hover .upArrowGallery {
    visibility: visible;
}
.ArtistsMovementsList ul a li:hover .downArrowGallery {
    visibility: visible;
}

.movement, .artist {
    font-size: 120%;
    font-weight: bold;
    color:rgb(66, 70, 85);
}

.artist {
    font-weight: lighter;
    color:rgb(66, 70, 85);
}

.upArrowGallery {
    visibility: hidden;
    position:absolute;
    right:1px;
    bottom:-3px;
    width: 10px;
    height:3px;
    background-color:rgb(190,29,47);
    transform: rotate(-45deg);
    transform-origin: right top;
    
}
.downArrowGallery {
    visibility: hidden;
    position:absolute;
    right:1px;
    bottom:-3px;
    width: 10px;
    height: 3px;
    background-color:rgb(190,29,47);
    transform-origin: right bottom;
    transform: rotate(45deg);
    
}

@media  screen and (max-width: 1150px) {
    .ArtistsMovementsList p {
        font-size: 100%;
    }
    .ArtistsMovementsList {
        font-family: 'Prompt', sans-serif;
        width:fit-content;
        float:none;
        margin: auto;
        border: none;
    }
    .ArtistsMovementsList ul a li {
        color:rgb(66, 70, 85);
        padding:3px;
        border: solid 3px #DBB943;
        border-radius: 20px;
        width: fit-content;
        font-size:100%;
        line-height: 1.5rem}
    .ArtistsMovementsList ul a li:hover {
        background-color: #DBB943;
        border: solid 3px #DBB943;
    }
    .movement, .artist {
        font-size:100%;
    }
    .ArtistsMovementsList ul a li:hover .upArrowGallery {
        visibility: hidden;
    }
    .ArtistsMovementsList ul a li:hover .downArrowGallery {
        visibility: hidden;
    }
    .colored {
        color:rgb(66, 70, 85);
    }
}