*{
    margin:0;
    padding:0;
}

.Challenge {
    
    width: 100vw;
    height: 83vh;
    display:flex;
    flex-direction: row;
    font-family: 'Prompt', sans-serif;
    /* background: rgb(104,104,107);
    background: linear-gradient(90deg, rgba(104,104,107,1) 0%, rgba(209,222,206,1) 53%); */
}
