.gallery {
    height:300px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 30px;
}

.gallery img {
    height:200px;
    width:200px;
    object-fit: cover;
    
}

.gallery img:hover {
    height:205px;
    width:205px;
    z-index: 5;
    object-fit: cover;
    box-shadow: 5px 5px #888888;
    transition-duration: 0.3s;
}
