.gallery {
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5vh ;

}

.gallery img {
    max-height:15vmax;
    max-width:15vmax;
    object-fit: cover;
    margin: 1vmin;
}

/* .gallery img:hover {
    height:205px;
    width:205px;
    z-index: 5;
    object-fit: cover;
    box-shadow: 5px 5px #888888;
    transition-duration: 0.3s;
}
z */

@media screen and (max-width: 1150px) {
    .gallery {
        max-width: 550px;
        flex-wrap: wrap;
        margin: 5vh auto;
        
    }
}