@media  screen and (min-width: 1300px) {
.homepage {
    font-family: 'Prompt', sans-serif;
    background-image: url('../images/women.jpg');
    background-position: 0px -200px;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    }
}
.homepage {
    font-family: 'Prompt', sans-serif;
    }