
.logo a img {
    object-fit: fill;
    max-width:375px;
    height: 95px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-left: 10px;
    margin-top: 3vh;
    margin-right: 20vw;
    padding:5px;
    opacity:0.9;
}
.logo a img:active {
    opacity:1;
}