.logo {
    width:25vw;
    height: 16vh;
    float:left;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-left: 10px;
}


.logo img:active {
    height: 15vh;
}