a {
    height:fit-content;
    width:fit-content;
}
.navitem {
    opacity:0.9;
    display: flex;
    align-items: center;
    justify-content: center;
    width:250px;
    height: 60px;
    font-size: 2rem;
    text-align: center;
    padding:20px;
    color: #FFFFFF;
    font-weight: bolder;
    margin-top:5vh;
    border: 3px solid rgb(66, 70, 85);
    text-transform: capitalize;
    
}
.navitem:hover {
   color: #DBB943;
   border: 3px rgb(190,29,47) solid;
}
.navitem:active {
    color: FFFFFF;
    opacity:1;
 }
.active {
    border: 3px rgb(190,29,47) solid;
}