.startChallenge {
    font-family: 'Prompt', sans-serif;
    width: 100vw;
    height: 84vh;
    display:flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    font-family: 'Prompt', sans-serif;
    font-size:140%;
    color:rgb(48, 46, 46);;
    background-image: url('../images/women.jpg');
    background-position: bottom;
    background-size: 100%;
    background-repeat: no-repeat;
    padding-top:2vh;
              
}
.startChallenge h1, .startChallenge h2 {
    margin:1vmin;
    text-align: center;
}

.startChallenge div {
    font-weight: bold;
    position: relative;
    font-size: 25px;
    width:20vw;
    min-height:70px;
    background-color:rgba(209, 9, 9, 0.8);
    border-radius: 10px;
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: default;
    margin-top:20px;
    color: white;
}

.startChallenge div:hover {
    font-weight: bold;
    position: relative;
    font-size: 26px;
    width:20vw;
    min-height:70px;
    background-color:rgb(209, 9, 9);
    border-radius: 10px;
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: default;
    margin-top:20px;
    color:white;
    transition-duration: 0.1s;
}

.startChallenge div:active {
    font-weight: bold;
    position: relative;
    font-size: 25px;
    width:20vw;
    cursor: default;
    margin-top:20px;
    transition-duration: 0.1s;
}

.startChallenge p {
    font-style: italic;
    text-align: center;
}


@media  screen and (max-width: 1150px) {
    .startChallenge {
        font-family: 'Prompt', sans-serif;
        width: 100vw;
        height: 84vh;
        display:flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        font-family: 'Prompt', sans-serif;
        font-size:100%;
        color:rgb(48, 46, 46);;
        padding-top:2vh;
        background: none;
                  
    }
    .startChallenge h1, .startChallenge h2 {
        margin:1vmin;
        text-align: center;
    }
    
    .startChallenge div {
        font-weight: bold;
        font-size: 25px;
        width:70vw;
        min-height:70px;
        background-color:rgba(209, 9, 9, 0.8);
        border-radius: 10px;
        display:flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        cursor: default;
        margin-top:20px;
        color: white;
        font-size: 30px;
        opacity: 0;
        animation: but;
        animation-delay: 6s;
        animation-duration: 60s;
    }
    
    .startChallenge div:hover {
        font-weight: bold;
        font-size: 26px;
        width:70vw;
        min-height:70px;
        background-color:rgb(209, 9, 9);
        border-radius: 10px;
        display:flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        cursor: default;
        margin-top:20px;
        color:white;
        transition-duration: 0.1s;
        font-size: 30px;
        opacity: 0;
        animation: but;
        animation-delay: 6s;
        animation-duration: 60s;
    }
    
    .startChallenge div:active {
        font-weight: bold;
        font-size: 25px;
        width:70vw;
        min-height:70px;
        background-color:rgb(209, 9, 9);
        border-radius: 10px;
        display:flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        cursor: default;
        margin-top:20px;
        transition-duration: 0.1s;
        font-size: 30px;
        opacity: 0;
        animation: but;
        animation-delay: 6s;
        animation-duration: 60s;
    }
    

    .startChallenge > h1 {
        animation: h1;
        animation-delay: 0s;
        animation-duration: 2s;
        opacity: 0;
        font-size: 30px;
    }
    .startChallenge > h2 {
        animation: h2;
        animation-delay: 2s;
        animation-duration: 2s;
        opacity: 0;
        font-size: 30px;
    }
    .startChallenge > p {
        text-align: center;
        animation: p;
        animation-delay: 4s;
        animation-duration: 2s;
        opacity: 0;
        font-size: 30px;
        font-style: bolder;
    }

    @keyframes h1 {
        0% {opacity: 0
            
        }
        10% {opacity: 1;
        }
        90% {opacity: 1;
        }
        100% {opacity: 0;
        }
    }
    @keyframes h2 {
        0% {opacity: 0
        }
        10% {opacity: 1;
        }
        90% {opacity: 1;
        }
        100% {opacity: 0;
        }
    }
    @keyframes p {
        0% {opacity: 0
        }
        10% {opacity: 1;
        }
        90% {opacity: 1;
        }
        100% {opacity: 0;
        }
    }
    @keyframes but {
        0% {opacity: 0
        }
        1% {opacity: 1
        }
        100% {opacity: 1;
        }
    }
}